#weather {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  text-align: center;
  color: white;

  .description{

    font-style: italic;
    font-size: 20px;
    padding-top: 20px;

  }

  .temp{

    font-size: 30px;
  }




    h1, h2 {
    text-align: center;
  }
  > .condition { // today condition
    .icon i.wi {
      font-size: 20em;
    }
  }

  &.wi-owm-800 {
    /* Rectangle 2: */
    background-image: linear-gradient(-180deg, #8DE1F5 0%, #FFF6F6 100%);

  }

  &.wi-owm-800:before{
    display: none;
  }

  .icon, .date, .wind, .clouds, .humidity, .min, .max  {
    display: none;
  }

  .weather-content {
    position: fixed;
    width: 100vw;
    height: 100vh;

    .content {
      height: 100vh;
    }
  }

  .condition { // generic condition
    @include debug;
    position: relative;

    .custom-icon {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }


      label{
        display: inline;
      }
      .icon label, .city label, .date label {
        display: none;
      }
      .date .value{
        font-size: 1.7em;
        font-weight: bold;
      }
    }
    .icon {
      margin-bottom: $spacer;
      label {
        display: none;
      }
      i.wi {
        color: $color_lighter;
        font-size: 4em;
      }
    }
  }

  .row > .condition { // 1st condition
    .icon{
      margin-bottom: $spacer*2;
     i.wi {
       font-size: 8em;
     }
    }
  }


  #forecast {
    img{
      height: 60px;
      width:auto;
      padding-top: 100px;
    }
    /* Rectangle Copy 2: */
    background-image: #FFFFFF;
    font-size: 30px;
    padding-top: 100%;
    @include centered;
    label {
      display: none;
    }
    .city, .wind, .clouds, .temp, .humidity,  {
      display: none;
    }

    .date {
      display: block;
    }
}
